body {
    font-family: Helvetica, sans-serif;
    margin: 1em;
    width: 50%;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

h3 {
    color: grey;
}

.item {
    display: flex;
    margin: 10px
}

form {
    margin-right: 10px;
}